<!-- views/partials/footer.ejs -->


    <div class="footer-container">
        <div class="footer-section">
            <a href="/" class="logo"><img src="/img/Logo_text.png" alt="logo" /></a>
            <p>Copyright@2024</p>
        </div>
        <div class="footer-section">
            <h3>Content</h3>
            <ul>
                <li><a href="/#problems">User's problems</a></li>
                <li><a href="/#why-choose-us">Why choose us</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Document</a></li>
                <li><a href="/term-of-service">Term of service</a></li>
                <li><a href="/private-policy">Privacy policy</a></li>
                <li><a href="/refund-policy">Refund policy</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Connect us</h3>
            <ul>
                <li><a href="#">
                  <img src="/img/facebookIcon.png" alt="1" class="fb">
                  Facebook</a></li>
                <li><a href="#"><img src="/img/youtubeIcon.png" alt="" class="ytb">Youtube</a></li>
                <li><a href="#"><img src="/img/twitterIcon.png" alt="" class="x">X.com</a></li>
            </ul>
        </div>
    </div>


