<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <h3>退款政策 - AutoFace</h1>
        </header>
        <main>
          <section id="header">
            <p>最后更新日期: 29/02/2024
            </p>
            <p>
                感谢您选择我们并使用AutoFace软件(“软件”)。我们, AutoFace开发团队, 始终尽力提供高质量的产品并确保客户满意。在购买前，请仔细阅读我们的退款政策。
            </p>
          </section>
          <section id="conditions">
            <h4>1. 退款条件
            </h4>
            <p>
                1.1 通过购买任何AutoFace套餐，您同意在购买后由于客户错误，我们将不会在任何情况下退款。

            </p>
            <p>
                1.2 如果我们的端出现任何问题，包括但不限于以下情况：性能不佳或意外故障，停电，我们网络波动等，我们将根据索赔进行退款。赔偿将转换为软件使用的天数，并根据订阅套餐（价格）和具体服务停机时间进行计算。

            </p>
            <p>
                1.3 退款不适用于因改变主意、误用或未达到个人期望而产生的原因。
            </p>
          </section>
          <section id="refund-request">
            <h4>2. 如何申请退款</h4>
            <p>
                2.1 要申请退款，请在有效的退款期内通过AutoFace的官方支持渠道与我们的客户支持团队联系：Live Chat、Facebook、X、Telegram或Skype。

            </p>
            <p>
                2.2  清楚地说明您为何要退款，并提供支持您请求的任何信息或文件。

            </p>
            <p>2.3 我们的客户支持团队将审查您的请求并及时回复。

            </p>
          </section>
          <section id="refund-process">
            <h4>3.  退款流程
            </h4>
            <p>
                3.1 如果您的退款请求被接受，我们将计算退款率，并通过您与我们联系的方式通知您退还的使用天数。
            </p>
            <p>
                3.2 我们将在两个工作日内（48小时）将3.1中计算的天数添加到您的AutoFace帐户中。
            </p>
          </section>
          <section id="exceptions">
            <h4>4.  例外情况</h4>
            <p>4.1 在有效的退款期结束后将不发出退款。

            </p>
            <p>
                4.2 如果软件已用于非法或其他欺诈活动，将不提供退款。

            </p>
          </section>
          <section id="contact">
            <h4>5. 联系信息
            </h4>
            <p>
                如果您对我们的退款政策有任何疑问或顾虑，请通过AutoFace的官方支持渠道与我们联系：Live Chat、Facebook、X、Telegram和Skype。


            </p>
          </section>
        </main>
        <footer>
          <section>    
                  <p>
                    感谢您选择AutoFace。我们感谢您的信任，并将不断努力提高我们服务的质量。

          </p></section>

        </footer>
      </div>
    </div>
  </body>
</html>
