<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <h3>Refund Policy - AutoFace</h1>
        </header>
        <main>
          <section id="header">
            <p>Last updated: 29/02/2024</p>
            <p>
                Thank you for choosing us and using the AutoFace software ("Software"). We, the AutoFace development team, always try our best to provide a high quality product and ensure customer satisfaction. Please read our refund policy carefully before making a purchase.
            </p>
          </section>
          <section id="conditions">
            <h4>1. Refund Conditions</h4>
            <p>
                1.1 By purchasing any AutoFace package, you agree that we will not refund in any case due to customer error after your purchase.
            </p>
            <p>
                1.2 If any problem occurs on our end, including but not limited to the following: poor performance or unexpected failure, power outage, fluctuations in our network, etc. , we will proceed with the refund according to the claims. Compensation will be converted into days of software use, and calculated based on the subscription package (price) and specific service downtime.

            </p>
            <p>
                1.3 Refunds are not applicable for reasons such as change of mind, misuse or failure to meet personal expectations.
            </p>
          </section>
          <section id="refund-request">
            <h4>2. How to Make a Refund Request</h4>
            <p>
                2.1 To request a refund, please contact our customer support team via Autoface's official Support channels: Live Chat, Facebook, X, Telegram, or Skype within the valid refund period.
            </p>
            <p>
                2.2 Clearly describe why you want a refund and provide any information or documents necessary to support your request.
            </p>
            <p>2.3 Our customer support team will review your request and respond in a timely manner.
            </p>
          </section>
          <section id="refund-process">
            <h4>3. Refund Process</h4>
            <p>
                3.1 If your refund request is accepted, we will calculate the rate and notify you of the number of days of use refunded via the methods you used to contact us.
            </p>
            <p>
                3.2 We will add the number of days calculated in 3.1 to your AutoFace account within two working days (48 hours).
            </p>
          </section>
          <section id="exceptions">
            <h4>4. Exceptions</h4>
            <p>4.1 Refunds will not be issued after the expiry of the valid refund period.
            </p>
            <p>
                4.2 No refunds will be issued if the Software has been used for illegal or other fraudulent activities.
            </p>
          </section>
          <section id="contact">
            <h4>5. Contact Information
            </h4>
            <p>
                If you have any questions or concerns about our Refund Policy, please contact us via Autoface's official Support channels: Live Chat, Facebook, X, Telegram, and Skype.

            </p>
          </section>
        </main>
        <footer>
          <section>    
                  <p>
                    Thank you for choosing AutoFace. We appreciate your trust and will constantly strive to improve the quality of our services.
          </p></section>

        </footer>
      </div>
    </div>
  </body>
</html>
