<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <h3>Refund Policy</h1>
        </header>
        <main>
          <section id="header">
            <p>The Customer Agrees To The Refund Policy As Described.</p>
            <p>Refund requests are reviewed on a case-by-case basis. The refund policy as described in the Terms does not serve as a guarantee of any payment reimbursement.</p>
            <p>
              You agree to contact EzInsta for a refund if necessary. EzInsta reserves the right to issue a full, partial, or prorated refund based on its discretion. You also agree not to file any fraudulent claim to chargeback or dispute charges against EzInsta. In the event that the Service can no longer be provided, EzInsta reserves the right to deny any payment reimbursement and discontinue the Service at any time. Please be advised growth is relative, and while We will strive to provide the best results, these may vary depending on Account quality, content, niche, etc. The quantity and quality of followers, engagement, or any other form of growth are not guaranteed.</p>
            </p>
            <p>
              If Your refund is approved and within the Terms, it will be processed, and a credit will automatically be applied to Your original method of payment within 3-10 business days.
            </p>
            <p>
              When subscribing to our Service, the Customer agrees to pay and take responsibility for all charges made following the chosen plan and these Terms.
            </p>
           
          </section>
          <section id="conditions">
            <h4>
              Quarterly and (Semi)Yearly Plan Subscriptions
            </h4>
            <p>
              Yearly, quarterly, and other plans that are charged for several months up-front are offered at a significant discount, and as such, are non-refundable. For untimely cancellations and in extreme circumstances, Your remaining subscription time can be converted into non-refundable credits at EzInsta's sole discretion. These credits can be transferred to any other subscription on the Customer's Account. Should a refund for a yearly, quarterly, or other plan subscription be provided at the discretion of EzInsta, EzInsta may offer only a partial refund following the remaining time on the Subscription minus the discount offered on the price.
            </p>
          </section>
          <section id="refund-request">
            <h4>Loss Of Access To Service</h4>
            <p>
              Refunds for any subscription type due to loss of access to a Service related to Instagram will be honored at the sole discretion of EzInsta. This may include loss of access to an Account and loss of access to features within a social media app.
            </p>
          </section>
          <section id="refund-process">
            <h4>Paused Interactions or Account is Disconnected</h4>
            <p>
              We do not credit additional days for the paused period. <br/>
              It is the sole responsibility of the Customer to ensure that their social media Account stays connected to the Service. EzInsta will not offer any reimbursement or compensation for downtime that resulted from a failure to stay connected to the Service. Any downtime of Service in relation to a client not providing their current password will not result in any payment reimbursement for that period.
            </p>
          </section>
          <section id="exceptions">
            <h4>Service Level</h4>
            <p>While EzInsta strives and uses its resources to offer the highest level of Service to the Customer, it is not possible to guarantee any specific level of performance. The Service level is limited by various factors including, but not limited to, the Customer's user dashboard configuration, targeting settings, and connection status, as well as general factors such as their social media Account history, Trust Score, and overall posting and browsing habits. As such, performance varies greatly depending on these factors, and refunds cannot be issued based on Service Level concerns.
            </p>
          </section>
          <section id="contact">
            <h4>Recurring Subscription Billing Agreement
            </h4>
            <p>
              EzInsta does not make automatic recurring payments. It is the responsibility of the Customer to understand the nature of their Billing Agreement, which is expressly mentioned in the Pricing section of the Website, as well as during the checkout process of EzInsta's designated payment provider.
            </p>
          </section>
          <section id="contact">
            <h4>Unexpected Service
            </h4>
            <p>
              EzInsta is under no obligation to fulfill refund requests in the event the Customer claims service is not as expected. The Customer is expected to read and acknowledge the nature of the Service and all of its features, as well as to get familiar with the Terms and Privacy Policy before purchasing the service. We do not offer refunds based on Customers not being informed of the service functionality and results, as described in these Terms. If You have any additional questions about a specific feature, functionality, or EzInsta policy please contact EzInsta prior to the purchase.
            </p>
          </section>
          <section id="contact">
            <h4>Inactivity
            </h4>
            <p>
              The Service works within the limits set by Instagram for every specific Account, which are affected by a variety of factors, including the Account history, Trust Score, and overall posting and browsing habits. As such, it is impossible to guarantee a minimum interaction uptime for every specific Account. While EzInsta cannot issue a refund for something outside of Our control, We want to make sure every Customer has an excellent user experience. In case of downtime, Your subscription will be extended, or promotional credits will be issued. <br/>
              Should the Customer request a refund due to account inactivity as caused by technical issues, EzInsta may issue a refund at its sole discretion. Refunds in such instances are typically fulfilled when the issue cannot be solved within a reasonable timeframe as determined by EzInsta. As such, refund requests are reviewed on a case-by-case basis.
            </p>
          </section>
          <section id="contact">
            <h4>Double Charge
            </h4>
            <p>
              Should the Customer enter an additional billing agreement with EzInsta that renders the first billing agreement obsolete, the Customer may be double-charged by mistake. In such instances, EzInsta shall always endeavor to refund the Customer in a reasonable timeframe as determined by EzInsta.
            </p>
          </section>
        </main>
        <!-- <footer>
          <section>    
                  <p>
                    Thank you for choosing EzInsta. We appreciate your trust and will constantly strive to improve the quality of our services.
          </p></section>

        </footer> -->
      </div>
    </div>
  </body>
</html>
