<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <h3>Chính Sách Hoàn Tiền - AutoFace</h1>
        </header>
        <main>
          <section id="header">
            <p>Ngày cập nhật: 29/02/2024</p>
            <p>
              Cảm ơn bạn đã lựa chọn chúng tôi và sử dụng Phần mềm AutoFace ("Phần mềm"). Chúng tôi, đội ngũ phát triển
              AutoFace, luôn cố gắng hết sức để cung cấp một sản phẩm chất lượng cao và đảm bảo sự hài lòng của khách
              hàng. Vui lòng đọc kỹ chính sách hoàn tiền của chúng tôi trước khi thực hiện giao dịch mua hàng.
            </p>
          </section>
          <section id="conditions">
            <h4>1. Điều Kiện Hoàn Tiền</h4>
            <p>
              1.1 Bằng việc tiến hành mua bất cứ gói nào của AutoFace, bạn đồng ý với điều kiện rằng, chúng tôi sẽ không
              hoàn tiền trong bất kì trường hợp nào do lỗi từ phía khách hàng sau khi bạn đã mua hàng.
            </p>
            <p>
              1.2 Nếu có bất cứ vấn đề gì xảy ra từ phía của chúng tôi, bao gồm nhưng không giới hạn các trường hợp sau:
              hoạt động kém hoặc không hoạt động ngoài dự kiến, mất điện, biến động trong mạng của chúng tôi, v.v.,
              chúng tôi sẽ tiến hành hoàn trả theo các yêu cầu bồi thường. Khoản bồi thường sẽ được quy đổi sang số ngày
              sử dụng phần mềm, và được tính toán dựa vào gói đăng ký (giá) và thời gian ngừng dịch vụ cụ thể.
            </p>
            <p>
              1.3 Hoàn tiền không được áp dụng cho những lý do như thay đổi quyết định, sử dụng sai cách hoặc không đạt
              đến mong muốn cá nhân.
            </p>
          </section>
          <section id="refund-request">
            <h4>2. Cách Thực Hiện Yêu Cầu Hoàn Tiền</h4>
            <p>
              2.1 Để yêu cầu hoàn tiền, vui lòng liên hệ với đội ngũ hỗ trợ khách hàng của chúng tôi qua các kênh
              Support chính thức của Autoface: Live Chat, Facebook, X, Telegram, hoặc Skype trong khoảng thời gian hoàn
              tiền hợp lệ.
            </p>
            <p>
              2.2 Mô tả rõ lý do bạn muốn hoàn tiền và cung cấp mọi thông tin hoặc tài liệu cần thiết để hỗ trợ yêu cầu
              của bạn.
            </p>
            <p>2.3 Đội ngũ hỗ trợ khách hàng của chúng tôi sẽ xem xét yêu cầu của bạn và phản hồi một cách kịp thời.</p>
          </section>
          <section id="refund-process">
            <h4>3. Quy Trình Hoàn Tiền</h4>
            <p>
              3.1 Nếu yêu cầu hoàn tiền của bạn được chấp nhận, chúng tôi sẽ tính toán tỷ lệ và thông báo số ngày sử
              dụng được hoàn lại qua các phương thức bạn dùng để liên lạc với chúng tôi.
            </p>
            <p>
              3.2 Chúng tôi sẽ tiến hành cộng số ngày được tính toán ở khoản 3.1 vào tài khoản AutoFace của bạn trong
              vòng 2 ngày làm việc (48 giờ).
            </p>
          </section>
          <section id="exceptions">
            <h4>4. Trường Hợp Ngoại Lệ</h4>
            <p>4.1 Hoàn tiền sẽ không được thực hiện sau khi hết thời gian hoàn tiền hợp lệ.</p>
            <p>
              4.2 Không cấp hoàn tiền nếu Phần mềm đã được sử dụng cho các hoạt động bất hợp pháp hoặc các hoạt động
              gian lận khác.
            </p>
          </section>
          <section id="contact">
            <h4>5. Thông Tin Liên Hệ</h4>
            <p>
              Nếu bạn có bất kỳ câu hỏi hoặc lo ngại nào về Chính Sách Hoàn Tiền của chúng tôi, vui lòng liên hệ với
              chúng tôi qua các kênh Support chính thức của Autoface: Live chat, Facebook, X, Telegram, và Skype.
            </p>
          </section>
        </main>
        <footer>
          <section>    
                  <p>
            Cảm ơn bạn đã chọn AutoFace. Chúng tôi trân trọng sự tin tưởng của bạn và sẽ không ngừng nỗ lực để cải thiện
            chất lượng dịch vụ của Chúng tôi.
          </p></section>

        </footer>
      </div>
    </div>
  </body>
</html>
