<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header>
          <h3>CHÍNH SÁCH HOÀN TIỀN EZINSTA</h1>
        </header>
        <main>
          <section id="header">
            <h4>Khách hàng đồng ý với chính sách hoàn tiền như mô tả dưới đây</h4>
            <p>
              Yêu cầu hoàn tiền được xem xét theo từng trường hợp cụ thể. Chính sách hoàn tiền như được mô tả trong Điều khoản không đóng vai trò đảm bảo cho bất kỳ khoản hoàn trả nào.
</p>
            </p>
            <p>
          
              Bạn đồng ý liên hệ với EzInsta để được hoàn lại tiền nếu cần. EzInsta có quyền hoàn lại toàn bộ, một phần hoặc theo tỷ lệ tùy theo quyết định của chúng tôi. Bạn cũng đồng ý không gửi bất kỳ khiếu nại gian lận nào về khoản bồi hoàn hoặc tranh chấp về phí đối với EzInsta. Trong trường hợp Dịch vụ không thể được cung cấp nữa, EzInsta có quyền từ chối mọi khoản hoàn trả thanh toán và ngừng Dịch vụ bất cứ lúc nào. 
            </p>
            
            <p>
              Xin lưu ý rằng chúng tôi không cam kết về hiệu quả của Tool EzInsta trên trang Instagram và mặc dù Chúng tôi sẽ cố gắng mang lại kết quả tốt nhất nhưng những kết quả này có thể khác nhau tùy thuộc vào Chất lượng tài khoản, nội dung, vị trí thích hợp, v.v. Số lượng và chất lượng của người theo dõi, mức độ tương tác hoặc bất kỳ hình thức tăng tương tác nào khác không được đảm bảo .
              
            </p>
            <p>
              Nếu khoản hoàn trả của Bạn được chấp thuận và tuân theo Điều khoản, khoản hoàn trả đó sẽ được xử lý và khoản hoàn trả sẽ tự động được áp dụng cho phương thức thanh toán ban đầu của Bạn trong vòng 3-10 ngày làm việc.

            </p>
            <p>
              Khi đăng ký Dịch vụ của chúng tôi, Khách hàng đồng ý thanh toán và chịu trách nhiệm về mọi khoản phí được thực hiện theo gói đã chọn và các Điều khoản này.

            </p>
          </section>
          <section id="conditions">
            <h4>
              Đăng ký gói hàng quý và (nửa) hàng năm
            </h4>
            <p>
              Các gói hàng năm, hàng quý và các gói khác được tính phí trả trước trong vài tháng được cung cấp với mức chiết khấu đáng kể và do đó, không được hoàn lại. Đối với những trường hợp hủy không đúng thời hạn và trong những trường hợp đặc biệt, thời gian đăng ký còn lại của Bạn có thể được chuyển đổi thành khoản tín dụng không hoàn lại theo quyết định riêng của EzInsta. Những khoản tín dụng này có thể được chuyển sang bất kỳ đăng ký nào khác trên Tài khoản của Khách hàng. Nếu EzInsta quyết định hoàn lại tiền cho gói đăng ký hàng năm, hàng quý hoặc gói khác thì EzInsta chỉ có thể hoàn lại một phần sau thời gian còn lại của gói Đăng ký trừ đi khoản chiết khấu được cung cấp trên giá.
            </p>
          </section>
          <section id="refund-request">
            <h4>Mất quyền truy cập vào dịch vụ</h4>
            <p>
              Việc hoàn tiền cho bất kỳ loại đăng ký nào do mất quyền truy cập vào Dịch vụ liên quan đến Instagram sẽ được thực hiện theo quyết định riêng của EzInsta. Điều này có thể bao gồm mất quyền truy cập vào Tài khoản và mất quyền truy cập vào các tính năng trong ứng dụng Instagram.
            </p>
          </section>
          <section id="refund-process">
            <h4>Tương tác bị tạm dừng hoặc tài khoản bị ngắt kết nối
            </h4>
            <p>
              Chúng tôi không ghi có thêm ngày cho khoảng thời gian tạm dừng. <br/>
              Trách nhiệm duy nhất của Khách hàng là đảm bảo rằng Tài khoản Instagram của họ luôn được kết nối với Dịch vụ. EzInsta sẽ không đưa ra bất kỳ khoản bồi hoàn hoặc bồi thường nào cho thời gian ngừng hoạt động do không duy trì kết nối với Dịch vụ. Bất kỳ thời gian ngừng hoạt động của Dịch vụ liên quan đến việc khách hàng không cung cấp mật khẩu hiện tại của họ sẽ không dẫn đến bất kỳ khoản hoàn trả nào trong khoảng thời gian đó.
            </p>
          </section>
          <section id="exceptions">
            <h4>Hiệu suất của dịch vụ</h4>
            <p>Mặc dù EzInsta cố gắng và sử dụng các nguồn lực của mình để cung cấp Dịch vụ ở mức cao nhất cho Khách hàng nhưng không thể đảm bảo bất kỳ mức hiệu suất cụ thể nào. Hiệu suất của Dịch vụ bị giới hạn bởi nhiều yếu tố khác nhau, bao gồm nhưng không giới hạn ở cấu hình bảng điều khiển người dùng, cài đặt mục tiêu và trạng thái kết nối của Khách hàng, cũng như các yếu tố khác như lịch sử tài khoản trên Instagram, Điểm tin cậy cũng như thói quen duyệt và đăng bài tổng thể. Do đó, hiệu suất thay đổi rất nhiều tùy thuộc vào các yếu tố này và không thể hoàn lại tiền dựa trên những lo ngại về Hiệu suất của dịch vụ.
            </p>
          </section>
          <section id="contact">
            <h4>Thỏa thuận thanh toán đăng ký định kỳ
            </h4>
            <p>
              EzInsta không thực hiện tự động thanh toán định kỳ. Khách hàng có trách nhiệm hiểu bản chất của Thỏa thuận thanh toán của mình, được đề cập rõ ràng trong phần Giá của Trang web, cũng như trong quá trình thanh toán của nhà cung cấp thanh toán được chỉ định của EzInsta.
            </p>
          </section>
          <section id="contact">
            <h4>Sự cố bất ngờ
            </h4>
            <p>
              Nếu Khách hàng yêu cầu hoàn lại tiền trên cơ sở dịch vụ không như mong đợi, EzInsta có thể thực hiện các yêu cầu hoàn tiền đó theo quyết định riêng của mình và chỉ trong vòng 30 ngày kể từ lần mua đầu tiên. EzInsta không có nghĩa vụ thực hiện các yêu cầu hoàn tiền trong trường hợp dịch vụ mà Khách hàng yêu cầu không như mong đợi. Khách hàng phải đọc và thừa nhận bản chất của Dịch vụ và tất cả các tính năng của Dịch vụ cũng như làm quen với Điều khoản và Chính sách quyền riêng tư trước khi mua dịch vụ. <br/>
              Chúng tôi không hoàn lại tiền nếu Khách hàng không được thông báo về chức năng và kết quả của dịch vụ như được mô tả trong các Điều khoản này. Nếu Bạn có thêm bất kỳ câu hỏi nào về một tính năng, chức năng cụ thể hoặc chính sách của EzInsta, vui lòng liên hệ với EzInsta trước khi mua.
            </p>
          </section>
          <section id="contact">
            <h4>Không hoạt động
            </h4>
            <p>
              Dịch vụ hoạt động trong giới hạn do Instagram đặt ra cho từng Tài khoản cụ thể, bị ảnh hưởng bởi nhiều yếu tố, bao gồm lịch sử Tài khoản, Điểm tin cậy cũng như thói quen duyệt và đăng bài của tài khoản. Mặc dù EzInsta không thể hoàn lại tiền cho những thứ nằm ngoài tầm kiểm soát của Chúng tôi, nhưng Chúng tôi muốn đảm bảo mọi Khách hàng đều có trải nghiệm người dùng tuyệt vời. Trong trường hợp ngừng hoạt động, đăng ký của bạn sẽ được gia hạn hoặc một số khuyến mại sẽ được cấp.
<br/>Nếu Khách hàng yêu cầu hoàn lại tiền do tài khoản không hoạt động do sự cố kỹ thuật gây ra, EzInsta có thể hoàn lại tiền theo quyết định riêng của mình. Việc hoàn tiền trong những trường hợp như vậy thường được thực hiện khi vấn đề không thể được giải quyết trong khung thời gian hợp lý do EzInsta xác định. Do đó, yêu cầu hoàn tiền sẽ được xem xét theo từng trường hợp cụ thể.

            </p>
          </section>
          <section id="contact">
            <h4>Bị tính phí gấp đôi
            </h4>
            <p>
              Nếu Khách hàng thực hiện thanh toán bổ sung với EzInsta khiến lần thanh toán đầu tiên không được sử dụng, Khách hàng có thể bị tính phí gấp đôi do nhầm lẫn. Trong những trường hợp như vậy, EzInsta sẽ luôn nỗ lực hoàn lại tiền cho Khách hàng trong khung thời gian hợp lý do EzInsta xác định.
            </p>
          </section>
        </main>
        <!-- <footer>
          <section>    
                  <p>
                    Thank you for choosing EzInsta. We appreciate your trust and will constantly strive to improve the quality of our services.
          </p></section>

        </footer> -->
      </div>
    </div>
  </body>
</html>
