.footer {
  background: linear-gradient(180deg, #fefeff, #ebeeff);
}
#containerDownload {
  background: linear-gradient(180deg, #fefeff, #ebeeff);
  text-align: center;
  .hide {
    display: none;
  }
}
.downloadContent {
  padding: 100px 0;
}
.downloadContent .available {
  /* padding: 5px 15px; */
  text-align: center;
  font-weight: 700;
  color: #0D132E;
  font-family: 'Lato';
  font-size: 48px;
  line-height: 61.03px;
  margin: 0;
}
.downloadContent .available .windows {
  font-weight: 700;
  font-size: 48px;
  font-family: 'LatoBold';
  margin: 15px 0;
  background-image: linear-gradient(90deg, #E1306C 0%, #9C61C3 54%, #FCAF45 100%);
 -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.downloadContent .btnDown {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 8px 15px;
  align-items: center;
  background: linear-gradient(274.75deg, #F74682 -25.66%, #B982DE 45.27%, #F1A843 115.43%);
  border-radius: 24px;
  cursor: pointer;
  border: 0;
  margin: 20px auto;
  p {
    font-family: 'Cabin';
    color: #fff;
    margin: 0;
    display: inline-block;
    font-size: 18px;
  }
}
.downloadContent .hr {
  margin: 5% auto;
  height: 1px;
  width: 124px;
  background: linear-gradient(274.75deg, #F74682 -25.66%, #B982DE 45.27%, #F1A843 115.43%);
}
.downloadContent .work {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-family: 'LatoBold';
  font-weight: 700;
  font-size: 58px;
  margin: 2% 0;
}
.downloadContent .video video {
  margin: 0 auto;
  width: 756px;
  height: 406px;
  border-radius: 30px;
}
