
@media only screen and (max-width: 1440px) {
  .wrap {
    padding: 20px;
    height: 100%;
  }
  .accordion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }
  .platform {
    height: 100%;
  }

}

@media only screen and (max-width: 1000px) {
  /* hero */
  .hero_section{
    height: 100%;
  }
  #about {
    display: block
  }
  #about .aboutContent{
    width: 90%;
  }
  #about .aboutContent h1, p {
    text-align: center;
  }
  #about .aboutContent h1 {
    font-size: 45px;
  }
  #about .aboutContent button{
    margin: auto;
  }
  .imgAbout{
    width: 100%;
  }
  .imgAbout img{
 width: 100%;
 height: auto;
 margin: auto;
 position: relative;
 margin-top: 50px;
  }
/* hidemyacc */
#hidemyacc {
  height: 100%;
}
.contain {
  display: flex;
  flex-direction: column-reverse;
}
.hidemyaccContent {
  width: 100%;
  margin-left: 0;
  align-items: center
}
.hidemyaccContent .detail{
  text-align: center;
}
.imgHidemyacc{
  width: 100%;
  margin-top: 50px;
}
.tab-content {
  margin-right: 0;
}
  .reason__header {
    width: 70%;
  }
  .part1, .part2, .part3 {
    display: block;
  }
  .part1 .left {
    width: 100%;
  }
  .part1 .left h2{
    text-align: center;
    margin-right: 0;
  }
  .part1 .left p{
    text-align: center;
    margin-right: 0px;
  }
  .part1 .right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2 {
  display: flex;
  flex-direction: column-reverse;
}
.part2 .left {
  width: 100%;
  margin-left: 0px;
}
.part2 .left h2{
  text-align: center;
  margin-right: 0;
}
.part2 .left p{
  text-align: center;
  margin-right: 0px;
}
.part2 .right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part3 .left {
  width: 100%;
}
.part3 .left h2{
  text-align: center;
  margin-right: 0;
}
.part3 .left p{
  text-align: center;
  margin-right: 0px;
}
.part3 .right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta__header p{
  font-size: 35px;
}
.cta__footer {
  width: 60%;
    
}
.cta__footer p{
  text-align: center;
}
.cta .wrap{
  padding: 0;
}
}
@media only screen and (max-width: 670px){

.cta__footer {
  display: block;
  width: 100%;
  
}
.cta__footer .part{
  z-index: 0;
  position: relative;
  text-align: center;
}
.cta .wrap{
  padding: 0;
}
}
@media only screen and (max-width: 500px) {
  .footer-container{
  display: grid;
  grid-template-columns: 150px 150px;
}
.footer-section{
  margin: auto;
}
}
/* Đối với iPad (min-width >= 768px và max-width < 1024px) */
@media (min-width: 768px) and (max-width: 1023px) {

  .navbar__right,
  .navbar_mobile {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .navbar_mobile {
    width: 100%;
    text-align: center;
  }
  .navbar_mobile .login,
  .navbar_mobile .download {
    text-align: center;
  }
  .navbar_mobile .download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid rgba(8, 102, 255, 0.5);
  }
  .navbar_mobile .download p {
    margin: 0;
    font-weight: 500;
    font-family: 'Cabin';
  }
  .navbar_mobile .login,
  .navbar_mobile .download {
    color: #0866ff;
    font-family: 'Cabin';
    cursor: pointer;
    font-size: 18px;
  }
  .downloadContent {
    padding-top: 0;
  }
  .hidden {
    display: none;
  }
}

/* Đối với laptop (min-width > 1024px) */
@media (min-width: 1023px) and (max-width: 1440px) {
  header {
    margin: 2% 5% 5% 5%;
  }
  #about {
    margin-right: 5%;
  }
  #about .imgAbout {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about .aboutContent h1,
  #hidemyacc .hidemyaccContent h1,
  #usecase h1 {
    margin: 10px 0;
  }
  #about .aboutContent .detailContent {
    margin: 0;
  }
  #about .downNow {
    margin-top: 20px;
  }
  #hidemyacc .hidemyaccContent .detailContent {
    width: 100%;
  }
  #hidemyacc .hidemyaccContent {
    margin-left: 5%;
  }

}



/* Đối với điện thoại (max-width < 768px) */
@media (max-width: 768px) {
  #hidemyacc {
    flex-direction: column;
  }
  #hidemyacc .hidemyaccContent {
    margin-left: 3%;
  }
  #hidemyacc .hidemyaccContent .detailContent {
    width: 100%;
  }

  .downloadContent {
    margin: auto 5%;
  }


  .navbar__right,
  .navbar_mobile {
    display: none;
  }
  .menu-icon {
    display: inline-block;
  }
  .navbar_mobile {
    width: 100%;
    text-align: center;
  }
  .navbar_mobile .login,
  .navbar_mobile .download {
    text-align: center;
  }
  .navbar_mobile .download {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
    padding: 5px 20px;
    border-radius: 30px;
    border: 1px solid rgba(8, 102, 255, 0.5);
  }
  .navbar_mobile .download p {
    margin: 0;
    font-weight: 500;
    font-family: 'Cabin';
  }
  .navbar_mobile .login,
  .navbar_mobile .download {
    color: #0866ff;
    font-family: 'Cabin';
    cursor: pointer;
    font-size: 18px;
  }
  .downloadContent {
    padding-top: 0;
  }

  .hidden {
    display: none;
  }
}

