<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../../partials/head') %>
</head>
<style>
  .layout {
    max-width: 900px;
    margin: 0 auto;
    /* font-size: 15px; */
    padding-top: 30px;
    line-height: 1.8;

    .termOfService {
      padding: 6% 8%;

      .termOfServiceTitle {
        font-size: 18px;
        color: blue;

      }

    }

    p {
      text-align: justify;
    }
  }
</style>

<body>
  <div class="layout">
    <div class="termOfService">
      <h class="termOfServiceTitle">Chinese (Traditional) -繁體中文</h>
      <p>服務條款 (ToS) AutoFace</p>

      <p>為了遵循透明度和清晰性的原則，我們，AutoFace
        開發團隊，特此呈現我們的服務條款，用於使用我們的Facebook自動化軟件。<br>通過訪問或使用我們的軟件，您同意受以下概述的條款和條件的約束。我們設計這些條款，以確保對所有用戶的安全和和諧體驗。<br>在使用我們的Facebook自動化軟件之前，請仔細閱讀服務條款。如果您有任何問題或疑慮，請隨時通過我們的官方支持渠道，如Facebook、Telegram或Skype與我們聯繫。<br>感謝您選擇AutoFace，我們感謝您對我們平台的信任。
      </p>

      <p>AutoFace服務條款</p>

      <ol>
        <li>接受條款：<br>用戶在使用AutoFace軟件之前必須明確同意服務條款。</li>
        <li>用戶資格：<br>用戶的任何年齡或資格要求均明確說明。</li>
        <li>許可和使用：<br>註冊帳戶後，我們將授予您訪問和使用AutoFace帳戶的權限，對於使用軟件的任何限制，無論是個人還是商業目的。</li>
        <li>用戶責任：<br>用戶必須同意不參與任何非法活動或將軟件用於惡意目的。遵守相關法律和法規是必要的。</li>
        <li>帳戶創建和安全性：<br>有關創建用戶帳戶和確保登錄憑據安全性的指南已指定。用戶被告知他們對在其各自帳戶下進行的活動負責。</li>
        <li>隱私政策：<br>概述有關用戶數據收集、存儲和使用的信息。此外，披露了任何使用的第三方服務或分析軟件以及它們各自的隱私實踐。</li>
        <li>知識產權：<br>提供了有關AutoFace知識產權（例如商標、版權）的所有權詳細信息，以及有關軟件品牌和內容可接受使用的准則。</li>
        <li>服務終止：<br>提供了服務提供商保留終止用戶訪問權的條件，以及停止服務及其相關影響的流程。</li>
        <li>責任限制：<br>我們為用戶提供了一個免費的7天試用期，支持50個配置文件，以便用戶可以測試和嘗試軟件。因此，我們保留豁免從AutoFace軟件使用中產生的任何損失或損害的賠償責任的權利。</li>
        <li>更新和修改：<br>提供了有關如何傳達AutoFace軟件的更新或服務條款的修改的信息。用戶必須接受更新作為繼續使用的條件。</li>
        <li>法律管轄和爭議解決：<br>規定了條款受何種法律管轄，以及解決爭議的程序，通常是通過仲裁或法律程序。</li>
      </ol>

      <p>用戶在使用AutoFace軟件之前，務必仔細閱讀並理解服務條款，以確保遵守並減輕任何潛在問題。此外，用戶應保持警惕，關注條款的任何更新，以便及時了解任何更改。</p>
    </div>

  </div>


  <!-- Script bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <!-- Script swiper -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <!-- Script main -->
  <script src="/js/main.js"></script>
</body>

</html>