<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../../partials/head') %>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <h3 class="termOfServiceTitle">Terms and Conditions</h3>
      <p>Please read these Terms and Conditions carefully before using Our Services.
        <br/>Our Terms and Conditions were last updated on 25 March 2024.
        </p>
      <h4>1. Interpretation:</h4>
      <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in the singular or the plural.</p>
      <h4>2. Definitions:</h4>
      <p>For the purposes of these Terms and Conditions ("Terms"):</p>
      <p>2.1 “Account” refers to a unique account created by You to access our Service or parts of our Service.</p>
      <p>2.2 “Customer” (referred to as either "the Customer", "You" or "Your" in this Agreement) refers to the individual accessing or using the Service, EzInsta, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.
      </p>
      <p>2.3 “EzInsta” (referred to as either "the Software", "We", "Us" or "Our" in this Agreement) refers to development team of EzInsta Software.
      </p>
      <p>2.4 “Content” refers to content such as text, images, videos, or other information that can be posted, uploaded, linked to, or otherwise made available by You, regardless of the form of that content.
      </p>
      <p>2.5 “Feedback” means feedback, innovations, or suggestions sent by You regarding the attributes, performance, or features of our Service.
      </p>
      <p>2.6 “Service” refers to the service provided by EzInsta as advertised on the Website.
      </p>
      <p>2.7 “Terms and Conditions” (also referred to as "Terms") mean these Terms and Conditions that form the entire agreement between You and  EzInsta Software regarding the use and access of our Automation services (hereby referred to as “Service”).
      </p>
      <p>
        2.8 “Third-party Social Media Service” means any services or content (including data, information, products, or services) provided by a third party that may be displayed, included, or made available by the Service.
      </p>
      <p>2.9 “Website” refers to EzInsta, accessible from <a href="/">
        http://Ezinsta.com
      </a>
      </p>

      <h4>3. Acknowledgment:</h4>
      <p>
        These are the Terms and Conditions governing the use of this Service and the agreement that operates between You and EzInsta. These Terms and Conditions set out the rights and obligations of all users regarding the use of the Service.
      </p>
      <p>
        Your access to and use of the Service is conditioned on Your acknowledgment of and compliance with these Terms and Conditions. These Terms and Conditions apply to all visitors, users, and others who access or use the Service.
      </p>
      <p>
        By visiting Our Website and/or purchasing a subscription, You engage in Our Service and agree to be bound by these Terms and Conditions. If You disagree with any part of these Terms and Conditions then You should not access the Service.
      </p>
      <p>
        Any new features or tools which are added to the current Service shall also be subject to the Terms and Conditions. You can review the most current version of the Terms at any time on this Website. We reserve the right to update, change or replace any part of these Terms by posting updates and/or changes to Our Website. It is the Customer’s responsibility to check this page periodically for changes. Continued use of the Service or access to the Website following the posting of any changes constitutes acceptance of those changes.
      </p>
      <p>
        EzInsta software is not associated with or makes a claim to be affiliated with, authorized, maintained, sponsored, or endorsed by Meta Platforms, or any of its affiliates or subsidiaries.
      </p>
      <p>
        It is the sole responsibility of the Customer to comply with Instagram rules and guidelines, and any legislation to which they are subject. The Customer uses the Service at their own risk EzInsta software is not responsible for any restrictions on the Customer’s Account that Instagram may enforce as a result of using the Service to build and grow the Account. We do not guarantee the number of followers You will receive and if they will be real individuals. We also do not guarantee the connection to be stable or permanently connected to Instagram or its API at any given time.
      </p>
      <p>
        Your access to and use of the Service is also conditioned on Your acknowledgment of and compliance with the Privacy Policy of EzInsta. Our Privacy Policy describes Our policies and procedures on the collection, use, and disclosure of Your personal information when You use the Service or the Website and tells You about Your privacy rights and how the law protects You. Please read Our Privacy Policy carefully before using Our Service.
      </p>
      <p>
        To provide the Service We require the Customer's username and password for Instagram Account they are subscribing to the Service. The Customer's password is securely encrypted according to the latest industry standards. We do not store, share, or otherwise distribute the password to any third parties. We will not post or comment on any accounts on the Customer Account’s behalf.
      </p>
      <p>
        By connecting Your social media Account and sharing Your username and password, You consent to a login from one of Our hubs, which may be in a different geographical region. EzInsta is not responsible for loss, gain, or other change of any region-specific features of Your social media Account as a result of using the Service.
      </p>
      <p>
        EzInsta does not make any claims as to the ownership of these Accounts to which We have been given access.
      </p>
      <h4>4. Customer Responsibilities:</h4>
      <p>
        You represent that You are over the age of 18. Services We provide are strictly unavailable to children under the age of 18.
      </p>
      <p>
        When You create a subscription with Us, You must provide Us with information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of the Service and will not result in any payment reimbursement.
      </p>
      <p>
        You are responsible for safeguarding the password that You use to access the Service and for any activities or actions under Your password, whether Your password is with Our Service or a Third-Party Social Media Service. The Customer is responsible for maintaining the current password to be provided with the Service.
      </p>
      <p>
        You may not use the Account or payment information of another person or entity other than You without appropriate authorization.
      </p>
      <p>
        You may not use Our Service for any illegal or unauthorized purpose nor may You, in the use of the Service, violate any laws in Your jurisdiction (including but not limited to copyright laws). You must not transmit any worms or viruses or any code of a destructive nature. A breach or violation of any of the Terms will result in an immediate termination of Your Services without being eligible for a refund.
      </p>
      <p>
        You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the Website through which the Service is provided, without written permission by Us.
      </p>
      <h4>5. Content:</h4>
      <p>
        Our Service allows and encourages You to post Content. You are responsible for the Content that You post while using the Service, including its legality, reliability, and appropriateness.
      </p>
      <p>
        EzInsta is not responsible for the content of the Service's users. You expressly understand and agree that You are solely responsible for the Content and for all activity that occurs under Your Account, whether done so by You or any third party using Your Account.
      </p>
      <p>
        You may not transmit any unlawful Content, offensive, upsetting, intended to disgust, threatening, libelous, defamatory, obscene, or otherwise objectionable. Examples of such objectionable Content include, but are not limited to, the following:
      </p>
      <p>
        5.1 Unlawful or promoting unlawful activity.
      </p>
      <p>
        5.2 Defamatory, discriminatory, or mean-spirited content, including references or commentary about religion, race, sexual orientation, gender, national/ethnic origin, or other targeted groups.
      </p>
      <p>
        5.3 Containing or installing any viruses, worms, malware, trojan horses, or other content that is designed or intended to disrupt, damage, or limit the functioning of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any data or other information of a third person.
      </p>
      <p>
        5.4 Infringing on any proprietary rights of any party, including patent, trademark, trade secret, copyright, right of publicity, or other rights.
      </p>
      <p>
        5.5 Impersonating any person or entity including EzInsta and its employees or representatives.
      </p>
      <p>
        5.6 Violating the privacy of any third person.
      </p>
      <p>
        5.7 False information and features.
      </p>
<p>EzInsta can also limit or revoke the use of the Service if You post such objectionable Content. As EzInsta cannot control all content posted by users and/or third parties using the Service, You agree to use the Service at Your own risk. You understand that by using the Service You may be exposed to content that You may find offensive, indecent, incorrect, or objectionable, and You agree that under no circumstances will EzInsta be liable in any way for any content, including any errors or omissions in any content, or any loss or damage of any kind incurred as a result of Your use of any content or the Service itself.
</p>

      <h4>6. Intellectual Property:</h4>
      <p>The Service and its original content (excluding Content provided by You or other users), features, and functionality are and will remain the exclusive property of EzInsta and its licensors.
      </p>
      <p>
        The Service is protected by copyright, trademark, and other laws of both the Country and foreign countries.
      </p>
      <p>
        Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of EzInsta.        
      </p>

      <h4>7. Service Delivery:</h4>
      <p>The Service focuses on bringing the attention of real users to Your Instagram Account with goals that may include increasing followers and followers’ engagement. The expected quantity and/or quality of followers and followers’ engagement is not guaranteed to You in any way. Regardless of any perceived representation to the contrary, EzInsta in no way guarantees specific results to the Customer. You understand that You are paying Us for our effort to generate results, but that results are never guaranteed as there are many factors involved, some of which are out of Our control. Moreover, We cannot protect You from spam, fake, or inactive followers, as it is not always possible to avoid them. It is understood that EzInsta has no control over Instagram if it decides to change its platform.
      </p>
      <p>
          We cannot guarantee the continuous, uninterrupted, or error-free operability of the services. It is the sole responsibility of the Customer to provide updated passwords to EzInsta during their use of the Service. Any downtime of service concerning a Customer not providing their current password will not result in any payment reimbursement for that period.
        </p>
        <p>
          EzInsta reserves the right to refuse to provide the Service to anyone for any reason and the right to modify or discontinue the Service (or any part or content thereof) without notice at any time.
        </p>
        <p>
          Prices of the Service are subject to change without notice. EzInsta will always try to contact its Customers prior to any pricing changes. Existing billing agreements will not be affected.
        </p>
        <p>
          EzInsta shall not be liable to the Customer or any third party for any modification, price change, suspension, or discontinuance of the Service.
        </p>

      <h4>8. Termination of Service:</h4>
      <p>Conditions under which the provider reserves the right to terminate a user's access are delineated, alongside
        the
        process for discontinuing the service and its associated implications.</p>

      <h4>9. "AS IS" and "AS AVAILABLE" Disclaimer:</h4>
      <p>The Service is provided to You "AS IS" and "AS AVAILABLE" and with all faults and defects without warranty of any kind. To the maximum extent permitted under applicable law, EzInsta, on its behalf and on behalf of its Affiliates and its and their respective licensors and service providers, expressly disclaims all warranties, whether express, implied, statutory, or otherwise, concerning the Service, including all implied warranties of merchantability, fitness for a particular purpose, title and non-infringement, and warranties that may arise out of the course of dealing, course of performance, usage or trade practice. Without limitation to the foregoing, EzInsta provides no warranty or undertaking, and makes no representation of any kind that the Service will meet Your requirements, achieve any intended results, be compatible or work with any other software, applications, systems, or services, operate without interruption, meet any performance or reliability standards or be error-free or that any errors or defects can or will be corrected.</p>

      <h4>10. Termination:</h4>
      <p>We may terminate or suspend Your Account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if You breach these Terms and Conditions.
      </p>
      <p>
          Upon termination, Your right to use the Service will cease immediately. If You wish to terminate Your Account, You may simply discontinue using the Service.
        </p>

      <h4>11. The Customer Is Bound To Contract (Subscription) Periods:</h4>
      <p>These Terms remain in effect until the end of the Customer's billing cycle. The Customer needn’t cancel their subscriptions because We don’t auto-charge you when your account has expired.
      </p>

      <h4>12. The Customer Agrees To the Limitation Of Liability
      </h4>
<p>
  EzInsta may not be held liable for any potential damages incurred. In no event will EzInsta have any liability to the other for lost profit, revenue, or any circumstantial, incidental, consequential, punitive, or other forms of damages however they may have been caused, whether in contract or under any other theoretical circumstance of liability and regardless of whether the Client has been advised of the possibility of the aforementioned damages. The Client will have no financial liability to EzInsta for a breach of these Terms.
</p>
<h4>13. Disputes Resolution</h4>
<p>
  If You have any concerns or disputes about the Service, You agree to first try to resolve the dispute informally by contacting EzInsta.
</p>
<h4>14. Changes to the Terms and Conditions and Website information</h4>
<p>
  We reserve the right, at Our sole discretion, to modify or replace these Terms and the content of the Website, including prices, at any time.
</p>
<p>
  By continuing to access or use Our Service after those revisions become effective, You agree to be bound by the revised Terms. If You do not agree to the new terms, in whole or in part, please stop using the Website and the Service.
</p>
<h4>15. Contact Us</h4>
<p>
  If You have any questions about these Terms and Conditions, or any of the Service features, You can contact us:
</p>
<p>
  15.1 by visiting this page on our website: <a href="/">http://Ezinsta.com</a>
</p>
<p>
  15.2 Via Live Chat, Facebook, X and Skype.

</p>
     
    </div>

  </div>

</body>

</html>