<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../../partials/head') %>
</head>

<body>
  <div class="wrapper">

    <div class="container">
      <h3 class="termOfServiceTitle">ĐIỀU KHOẢN DỊCH VỤ CHO PHẦN MỀM AUTOFACE</h3>
      <p>Tuân theo nguyên tắc về minh bạch và rõ ràng, chúng tôi, Đội ngũ phát triển AutoFace, xin gửi tới quý khách
        hàng
        Điều Khoản Dịch Vụ của chúng tôi cho việc sử dụng Phần mềm Tự Động Facebook - AutoFace. Bằng cách truy cập hoặc
        sử
        dụng phần mềm của chúng tôi, bạn đồng ý tuân thủ theo những điều khoản và điều kiện dưới đây. Chúng tôi đã biên
        soạn những điều khoản này để đảm bảo một trải nghiệm an toàn và thân thiện cho tất cả người dùng.</p>
      <p>Vui lòng đọc kỹ Điều Khoản Dịch Vụ trước khi tiếp tục sử dụng Phầm mềm Tự Động Facebook - AutoFace của chúng
        tôi.
        Nếu bạn có bất kỳ câu hỏi hoặc lo ngại nào, đừng ngần ngại liên hệ với chúng tôi qua các kênh support chính thức
        của AutoFace như Facebook, Skype, Telegram,... Cảm ơn bạn đã chọn AutoFace, chúng tôi trân trọng cảm ơn sự tin
        tưởng của bạn vào phần mềm của chúng tôi.</p>

      <h4 class="termOfServiceContent">Điều khoản Dịch vụ cho Công cụ AutoFace</h4>
      <ul>
        <li>
          <h4>1. Chấp nhận Điều khoản</h4>
          <p>Người dùng phải đồng ý một cách rõ ràng với các điều khoản dịch vụ trước khi sử dụng phần mềm AutoFace.</p>
        </li>
        <li>
          <h4>2. Điều kiện Sử dụng của Người dùng</h4>
          <ul>
            <li>
              <p>2.1 Bạn phải đủ 18 tuổi để sử dụng Phần mềm.</p>
            </li>
            <li>
              <p>2.2 Bạn đồng ý sử dụng Phần mềm tuân thủ tất cả các luật lệ và quy định áp dụng.</p>
            </li>
            <li>
              <p>2.3 Bạn chịu trách nhiệm bảo mật thông tin tài khoản của mình.</p>
            </li>
          </ul>
        </li>
        <li>
          <h4>3. Giấy phép và Sử dụng</h4>
          <p>
            Sau khi bạn đăng kí tài khoản, chúng tôi sẽ cấp quyền cho bạn truy cập và sử dụng tài khoản AutoFace, kèm
            theo
            bất kỳ hạn chế nào liên quan đến việc sử dụng Phần mềm, bất kể cho mục đích cá nhân hay thương mại.
          </p>
        </li>
        <li>
          <h4>4. Trách nhiệm của Người dùng</h4>
          <p>
            Người dùng phải đồng ý không tham gia vào bất kỳ hoạt động bất hợp pháp nào hoặc tận dụng Phần mềm cho mục
            đích xấu. Tuân thủ các luật và quy định pháp lý có liên quan là rất quan trọng.
          </p>
        </li>
        <li>
          <h4>5. Tạo tài khoản và Bảo mật</h4>
          <p>
            Hướng dẫn về việc tạo tài khoản người dùng và đảm bảo an toàn của thông tin đăng nhập được xác định. Người
            dùng được thông báo về trách nhiệm của họ đối với các hoạt động được tiến hành dưới tài khoản của họ.
          </p>
        </li>
        <li>
          <h4>6. Chính sách Bảo mật</h4>
          <p>
            Thông tin về việc thu thập, lưu trữ và sử dụng dữ liệu người dùng được mô tả. Ngoài ra, bất kỳ dịch vụ của
            bên
            thứ ba hoặc phần mềm phân tích nào được sử dụng, cùng với các quy định bảo mật của họ, cũng được tiết lộ.
          </p>
        </li>
        <li>
          <h4>7. Sở hữu Trí tuệ</h4>
          <p>
            Thông tin về sở hữu của tài sản trí tuệ của phần mềm tự động AutoFace (ví dụ: nhãn hiệu, bản quyền) được
            cung
            cấp, cùng với hướng dẫn về cách sử dụng hợp lệ của thương hiệu và nội dung của Phần mềm.
          </p>
        </li>
        <li>
          <h4>8. Chấm dứt Dịch vụ</h4>
          <p>
            Bên phía AutoFace có quyền chấm dứt quyền truy cập hoàn toàn hoặc một phần của người dùng nếu người dùng vi
            phạm các chính sách được quy định trong điều khoản sử dụng này mà không cần báo trước.
          </p>
        </li>
        <li>
          <h4>9. Giới hạn Trách nhiệm</h4>
          <p>
            Chúng tôi cung cấp cho người dùng gói dùng thử 7 ngày miễn phí với 50 profile để người dùng có thể kiểm tra
            và
            dùng thử phần mềm. Do đó, chúng tôi có quyền được miễn trách nhiệm về bồi thường cho bất kỳ tổn thất hoặc
            thiệt hại phát sinh do việc sử dụng phần mềm AutoFace.
          </p>
        </li>
        <li>
          <h4>10. Cập nhật và Sửa đổi</h4>
          <p>
            Thông tin về cách cập nhật cho phần mềm AutoFace hoặc các thay đổi cho các Điều khoản dịch vụ sẽ được thông
            báo cụ thể cho khách hàng bởi chúng tôi. Người dùng được yêu cầu chấp nhận các cập nhật như một điều kiện
            của
            việc tiếp tục sử dụng.
          </p>
        </li>
        <li>
          <h4>11. Luật pháp áp dụng và Giải quyết tranh chấp</h4>
          <p>
            Các quy định về luật pháp liên quan được xác định, cùng với các thủ tục để giải quyết các tranh chấp, thường
            thông qua trọng tài luật pháp (tòa án) hoặc quy trình pháp lý.
          </p>
        </li>
      </ul>

      <p>Việc người dùng cẩn thận đọc và hiểu rõ các điều khoản dịch vụ trước khi sử dụng Phần mềm AutoFace là rất quan
        trọng để đảm bảo tuân thủ và tránh bất kỳ vấn đề tiềm ẩn nào. Hơn nữa, người dùng cần cập nhật liên tục bất kỳ
        thay đổi nào về các điều khoản của AutoFace, cùng với đó là cập nhật thông tin về bất kỳ sửa đổi nào.</p>
      <!-- Script bootstrap -->

    </div>
  </div>
</body>

</html>