<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../../partials/head') %>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <h3 class="termOfServiceTitle">Điều khoản và Điều kiện</h3>
      <p>Vui lòng đọc kỹ Điều khoản và Điều kiện này trước khi sử dụng Dịch vụ của chúng tôi.
        <br/>Điều khoản và Điều kiện của chúng tôi được cập nhật lần cuối vào ngày 25 tháng 03 năm 2024.
        </p>
      <h4>1. Phân tích:</h4>
      <p>Những từ mà chữ cái đầu tiên được viết hoa có ý nghĩa được xác định dưới các điều kiện sau đây. Các định nghĩa sau đây sẽ có cùng ý nghĩa không phụ thuộc vào việc chúng xuất hiện dưới dạng số ít hay số nhiều.</p>
      <h4>2. Định nghĩa:</h4>
      <p>Mục đích của các Điều khoản và Điều kiện này ("Điều khoản"):
      </p>
      <p>- "Tài khoản" đề cập đến một tài khoản được bạn tạo ra để truy cập Dịch vụ của chúng tôi hoặc các phần của Dịch vụ của chúng tôi.</p>
      <p>- "Khách hàng" (được gọi là "Khách hàng", "Bạn" hoặc "Các Bạn" trong Thỏa thuận này) đề cập đến cá nhân truy cập hoặc sử dụng Dịch vụ, EzInsta hoặc các thực thể pháp lý khác mà cá nhân đó truy cập hoặc sử dụng Dịch vụ, theo đúng quy định.
      </p>
      <p>- "EzInsta" (được gọi là "Phần mềm" hoặc "Chúng tôi" trong Thỏa thuận này) đề cập đến nhóm phát triển của Phần mềm EzInsta.
      </p>
      <p>- "Nội dung" đề cập đến nội dung như văn bản, hình ảnh, video hoặc thông tin khác có thể được đăng, tải lên, liên kết hoặc được sử dụng bởi bạn, bất kể dạng của nội dung đó.
      </p>
      <p>- "Phản hồi" có nghĩa là phản hồi, sáng kiến ​​hoặc đề xuất được gửi bởi bạn về các thuộc tính, hiệu suất hoặc tính năng của Dịch vụ của chúng tôi.
      </p>
      <p>- "Dịch vụ" đề cập đến dịch vụ được cung cấp bởi EzInsta như được quảng cáo trên Trang web.
      </p>
      <p>- "Điều khoản và Điều kiện" (cũng được gọi là "Điều khoản") có nghĩa là các Điều khoản và Điều kiện này tạo thành toàn bộ thỏa thuận giữa bạn và Phần mềm EzInsta liên quan đến việc sử dụng và truy cập Dịch vụ Automation của chúng tôi (được gọi là “Dịch vụ”).
      </p>
      <p>
        - "Dịch vụ Mạng xã hội của Bên thứ ba" có nghĩa là bất kỳ dịch vụ hoặc nội dung (bao gồm dữ liệu, thông tin, sản phẩm hoặc dịch vụ) nào được cung cấp bởi một bên thứ ba có thể được hiển thị, bao gồm hoặc được phát hành bởi Dịch vụ.
      </p>
      <p>- "Trang web" đề cập đến EzInsta, có thể truy cập từ <a href="/">
        http://Ezinsta.com
      </a>
      </p>

      <h4>3. Sự thừa nhận:</h4>
      <p>
        Đây là các Điều khoản và Điều kiện quản lý việc sử dụng Dịch vụ này và thỏa thuận hoạt động giữa bạn và EzInsta. Các Điều khoản và Điều kiện này quy định quyền lợi và nghĩa vụ của tất cả người sử dụng liên quan đến việc sử dụng Dịch vụ.
      </p>
      <p>
        Việc bạn truy cập và sử dụng Dịch vụ phụ thuộc vào việc bạn thừa nhận và tuân thủ các Điều khoản và Điều kiện này. Các Điều khoản và Điều kiện này áp dụng cho tất cả khách truy cập, người sử dụng và những người khác truy cập hoặc sử dụng Dịch vụ.
      </p>
      <p>
        Bằng cách truy cập Trang web của chúng tôi và/hoặc mua một gói dịch vụ, bạn tham gia vào Dịch vụ của chúng tôi và đồng ý tuân theo các Điều khoản và Điều kiện này. Nếu bạn không đồng ý với bất kỳ phần nào của các Điều khoản và Điều kiện này vui lòng không sử dụng Dịch vụ.
      </p>
      <p>
        Bất kỳ tính năng hoặc công cụ mới nào được thêm vào Dịch vụ hiện tại cũng sẽ phải tuân theo các Điều khoản và Điều kiện này. Bạn có thể xem phiên bản mới nhất của các Điều khoản bất kỳ lúc nào trên Trang web này. Chúng tôi giữ quyền cập nhật, thay đổi hoặc thay thế bất kỳ phần nào của các Điều khoản này bằng cách đăng các bản cập nhật và/hoặc thay đổi trên Trang web của chúng tôi. Việc kiểm tra trang này định kỳ là trách nhiệm của khách hàng. Việc tiếp tục sử dụng Dịch vụ hoặc truy cập Trang web sau khi đăng bất kỳ thay đổi nào cũng đồng nghĩa với việc chấp nhận các thay đổi đó.
      </p>
      <p>
        Phần mềm EzInsta không liên quan đến hoặc tuyên bố rằng nó liên kết, được ủy quyền, được duy trì, được tài trợ hoặc được chấp nhận bởi Công ty Meta Platforms hoặc bất kỳ công ty con hoặc chi nhánh nào của nó.
      </p>
      <p>
        Đó là trách nhiệm duy nhất của Khách hàng tuân thủ các quy tắc và hướng dẫn của Instagram, và bất kỳ pháp luật nào mà họ phải tuân theo. Khách hàng sử dụng Dịch vụ tự chịu rủi ro. Phần mềm EzInsta không chịu trách nhiệm về bất kỳ hạn chế nào trên Tài khoản của Khách hàng mà Instagram có thể áp đặt do sử dụng Dịch vụ để xây dựng và phát triển Tài khoản. Chúng tôi không đảm bảo số lượng người theo dõi bạn sẽ nhận được và liệu họ có phải là cá nhân thực sự hay không. Chúng tôi cũng không đảm bảo kết nối là ổn định hoặc kết nối vĩnh viễn với Instagram hoặc API của nó vào bất kỳ thời điểm nào.
      </p>
      <p>
        Việc bạn truy cập và sử dụng Dịch vụ cũng phụ thuộc vào việc bạn thừa nhận và tuân thủ Chính sách Bảo mật của EzInsta. Chính sách Bảo mật của chúng tôi mô tả các chính sách và thủ tục của chúng tôi về việc thu thập, sử dụng và tiết lộ thông tin cá nhân của bạn khi bạn sử dụng Dịch vụ hoặc Trang web và thông báo về quyền riêng tư của bạn và cách luật pháp bảo vệ bạn. Vui lòng đọc Chính sách Bảo mật của chúng tôi một cách cẩn thận trước khi sử dụng Dịch vụ của chúng tôi.
      </p>
      <p>
        Để cung cấp Dịch vụ, chúng tôi yêu cầu tên người dùng và mật khẩu của Khách hàng cho Tài khoản Instagram của bạn. Mật khẩu của Khách hàng được mã hóa một cách an toàn theo các tiêu chuẩn mới nhất. Chúng tôi không lưu trữ, chia sẻ hoặc phân phối mật khẩu cho bất kỳ bên thứ ba nào khác. Chúng tôi sẽ không đăng bài hoặc bình luận trên bất kỳ tài khoản nào trên Tài khoản của Khách hàng.
      </p>
      <p>
        Bằng cách kết nối Tài khoản mạng xã hội của bạn và chia sẻ tên người dùng và mật khẩu của bạn, bạn đồng ý với một lần đăng nhập từ một trong các trung tâm của chúng tôi, có thể ở một khu vực địa lý khác. EzInsta không chịu trách nhiệm về mất mát, thu lợi hoặc thay đổi khác nào của bất kỳ tính năng cụ thể của Tài khoản mạng xã hội của bạn do việc sử dụng Dịch vụ.
      </p>
      <p>
        EzInsta không tuyên bố sở hữu các Tài khoản mà chúng tôi đã được cấp quyền truy cập.
      </p>
      <h4>4. Trách nhiệm của Khách hàng:</h4>
      <p>
        Bạn tuyên bố rằng bạn đủ 18 tuổi trở lên. Dịch vụ chúng tôi cung cấp hoàn toàn không khả dụng đối với trẻ em dưới 18 tuổi.
      </p>
      <p>
        Khi bạn tạo ra một gói dịch vụ với chúng tôi, bạn phải cung cấp cho chúng tôi thông tin chính xác và đầy đủ vào tất cả các thời điểm. Vi phạm các Điều khoản này bằng việc không tuân thủ các Điều khoản này có thể dẫn đến việc chấm dứt ngay lập tức Dịch vụ và sẽ không được hoàn lại bất kỳ khoản thanh toán nào.
      </p>
      <p>
        Bạn chịu trách nhiệm bảo vệ mật khẩu mà bạn sử dụng để truy cập Dịch vụ và cho bất kỳ hoạt động hoặc hành động nào dưới mật khẩu của bạn, dù mật khẩu của bạn có phải là với Dịch vụ của chúng tôi hay Mạng xã hội của Bên thứ ba. Khách hàng chịu trách nhiệm duy trì mật khẩu hiện tại để được cung cấp dịch vụ.
      </p>
      <p>
Bạn không được sử dụng Tài khoản hoặc thông tin thanh toán của người hoặc thực thể khác mà không có sự ủy quyền thích hợp.

</p>
<p>
  
  Bạn không được sử dụng Dịch vụ của chúng tôi cho bất kỳ mục đích bất hợp pháp hoặc không được ủy quyền hoặc có thể bạn, khi sử dụng Dịch vụ, vi phạm bất kỳ luật pháp nào trong phạm vi của bạn (bao gồm nhưng không giới hạn vào luật bản quyền). Bạn không được truyền bất kỳ worm hoặc virus hoặc bất kỳ mã nào có tính chất phá hủy. Vi phạm hoặc vi phạm bất kỳ điều khoản nào trong các Điều khoản này sẽ dẫn đến việc chấm dứt ngay lập tức Dịch vụ của bạn mà không đủ điều kiện để được hoàn lại tiền.
</p>
<p>
        Bạn đồng ý không sao chép, nhân bản, bán, bán lại hoặc khai thác bất kỳ phần nào của Dịch vụ, việc sử dụng Dịch vụ hoặc truy cập vào Dịch vụ hoặc bất kỳ liên lạc nào trên Trang web thông qua đó Dịch vụ được cung cấp, mà không có sự cho phép bằng văn bản của chúng tôi.
        
      </p>
      <h4>5. Nội dung:</h4>
      <p>
        Dịch vụ của chúng tôi cho phép và khuyến khích bạn đăng Nội dung. Bạn chịu trách nhiệm về Nội dung mà bạn đăng khi sử dụng Dịch vụ, bao gồm tính hợp pháp, đáng tin cậy và phù hợp.
      </p>
      <p>
  EzInsta không chịu trách nhiệm về nội dung của người dùng Dịch vụ. Bạn rõ ràng hiểu và đồng ý rằng bạn hoàn toàn chịu trách nhiệm về Nội dung và về tất cả các hoạt động xảy ra dưới Tài khoản của bạn, dù là bởi bạn hoặc bởi bất kỳ bên thứ ba nào sử dụng Tài khoản của bạn.
</p>
<p>
        Bạn không được truyền bất kỳ Nội dung bất hợp pháp nào, gây phản cảm, có ý định xấu, đe dọa, phỉ báng, bôi nhọ, phi lý hoặc bất kỳ nội dung không phù hợp nào khác. Các ví dụ về Nội dung không phù hợp nhưng không giới hạn vào các điều sau:
      </p>
      <p>
        - Hành vi không hợp pháp hoặc quảng cáo hành vi không hợp pháp.
      </p>
      <p>
        - Nội dung phỉ báng, phân biệt đối xử hoặc ác ý, bao gồm các tham chiếu hoặc bình luận về tôn giáo, chủng tộc, tình dục, giới tính, nguồn gốc dân tộc hoặc các nhóm khác.
      </p>
      <p>
        - Chứa hoặc cài đặt bất kỳ virus, worms, phần mềm độc hại, phần mềm gián điệp hoặc bất kỳ nội dung nào được thiết kế hoặc có ý định làm gián đoạn, gây hại hoặc giới hạn hoạt động của bất kỳ phần mềm, phần cứng hoặc thiết bị viễn thông nào hoặc gây hại hoặc thu được quyền truy cập không ủy quyền vào bất kỳ dữ liệu hoặc thông tin nào của một bên thứ ba.
      </p>
      <p>
        - Vi phạm bất kỳ quyền sở hữu của bất kỳ bên nào, bao gồm bằng sáng chế, nhãn hiệu, bí mật thương mại, bản quyền, quyền công khai hoặc các quyền khác.
      </p>
      <p>
        - Mạo danh bất kỳ cá nhân hoặc thực thể nào bao gồm cả EzInsta và nhân viên hoặc đại diện của chúng tôi.
      </p>
      <p>
        - Xâm phạm quyền riêng tư của bất kỳ cá nhân thứ ba nào.
      </p>
      <p>
        - Thông tin sai lệch.
      </p>
<p>EzInsta cũng có thể giới hạn hoặc thu hồi việc sử dụng Dịch vụ nếu Bạn đăng Nội dung không phù hợp. Vì EzInsta không thể kiểm soát tất cả nội dung được đăng bởi người dùng và/hoặc bên thứ ba sử dụng Dịch vụ nên Bạn đồng ý tự chịu rủi ro khi sử dụng Dịch vụ. Bạn hiểu rằng khi sử dụng Dịch vụ, Bạn có thể gặp phải nội dung mà Bạn có thể thấy xúc phạm, không đứng đắn, không chính xác hoặc phản cảm và Bạn đồng ý rằng trong mọi trường hợp, EzInsta sẽ không chịu trách nhiệm pháp lý dưới bất kỳ hình thức nào đối với bất kỳ nội dung nào, bao gồm mọi lỗi hoặc thiếu sót trong bất kỳ nội dung nào hoặc bất kỳ tổn thất hoặc thiệt hại nào phát sinh do việc Bạn sử dụng bất kỳ nội dung nào hoặc chính Dịch vụ.
</p>

      <h4>6. Sở hữu trí tuệ:</h4>
      <p>
        Phần mềm và nội dung ban đầu của Dịch vụ (không bao gồm Nội dung do Bạn hoặc người dùng khác cung cấp), các tính năng và chức năng đang và sẽ vẫn là tài sản độc quyền của EzInsta và những người cấp phép của nó.
      </p>
      <p>
        Phần mềm được bảo vệ bởi bản quyền, nhãn hiệu và các luật khác của cả Việt Nam và nước ngoài.
      </p>
      <p>
        Không được sử dụng nhãn hiệu và hình thức thương mại của chúng tôi liên quan đến bất kỳ sản phẩm hoặc Phần mềm nào mà không có sự đồng ý trước bằng văn bản của EzInsta.
      </p>

      <h4>7. Cung cấp Dịch vụ:</h4>
      <p>
        Phần mềm tập trung vào việc thu hút sự chú ý của người dùng thực vào Tài khoản Instagram của bạn với các mục tiêu có thể bao gồm tăng lượng người theo dõi và mức độ tương tác của người theo dõi. Số lượng và/hoặc chất lượng dự kiến ​​của người theo dõi và mức độ tương tác của người theo dõi không được đảm bảo cho Bạn dưới bất kỳ hình thức nào. Bất kể bất kỳ tuyên bố nào ngược lại, EzInsta không đảm bảo kết quả cụ thể cho Khách hàng. Bạn hiểu rằng Bạn đang trả tiền cho Chúng tôi vì nỗ lực tạo ra kết quả của chúng tôi, nhưng kết quả đó không bao giờ được đảm bảo vì có nhiều yếu tố liên quan, một số yếu tố nằm ngoài tầm kiểm soát của Chúng tôi. Hơn nữa, Chúng tôi không thể bảo vệ Bạn khỏi những người theo dõi spam, giả mạo hoặc không hoạt động vì không phải lúc nào cũng có thể tránh được chúng. Điều này được hiểu rằng EzInsta không có quyền kiểm soát Instagram nếu họ quyết định thay đổi bất kì chính sách của nền tảng.
      </p>
      
      <p>
        Chúng tôi không thể đảm bảo khả năng hoạt động liên tục, không bị gián đoạn hoặc không có lỗi của dịch vụ. Trách nhiệm duy nhất của Khách hàng là cung cấp mật khẩu cập nhật cho EzInsta trong quá trình họ sử dụng Dịch vụ. Bất kỳ thời gian ngừng hoạt động nào của dịch vụ liên quan đến việc Khách hàng không cung cấp mật khẩu hiện tại của họ sẽ không dẫn đến bất kỳ khoản hoàn trả nào trong khoảng thời gian đó.
      </p>
      <p>
        EzInsta có quyền từ chối cung cấp Dịch vụ cho bất kỳ ai vì bất kỳ lý do gì và có quyền sửa đổi hoặc ngừng Dịch vụ (hoặc bất kỳ phần hoặc nội dung nào trong đó) mà không cần thông báo bất cứ lúc nào.
      </p>
      <p>
          Giá của Dịch vụ có thể thay đổi mà không cần thông báo trước. EzInsta sẽ luôn cố gắng liên hệ với Khách hàng của mình trước bất kỳ thay đổi nào về giá. Các thỏa thuận thanh toán hiện tại sẽ không bị ảnh hưởng.
        </p>
        <p>
          EzInsta sẽ không chịu trách nhiệm pháp lý với Khách hàng hoặc bất kỳ bên thứ ba nào về bất kỳ sửa đổi, thay đổi giá, tạm ngừng hoặc ngừng Dịch vụ nào.
        </p>

      <h4>8. Termination of Service:</h4>
      <p>Conditions under which the provider reserves the right to terminate a user's access are delineated, alongside
        the
        process for discontinuing the service and its associated implications.</p>

      <h4>9. Tuyên bố miễn trừ trách nhiệm "NGUYÊN TRẠNG" và "SẴN CÓ":</h4>
      <p>Dịch vụ được cung cấp cho Bạn "NGUYÊN TRẠNG" và "NHƯ SẴN CÓ" và kèm theo tất cả các lỗi và khiếm khuyết mà không có bất kỳ hình thức bảo hành nào. Trong phạm vi tối đa được luật hiện hành cho phép, EzInsta, từ chối rõ ràng mọi bảo đảm, dù rõ ràng, ngụ ý, theo luật định hay nói cách khác, liên quan đến Dịch vụ, bao gồm tất cả các bảo đảm ngụ ý về khả năng bán được, sự phù hợp cho một mục đích cụ thể, quyền sở hữu và việc không vi phạm cũng như các bảo đảm có thể phát sinh từ quá trình giao dịch, thực hiện, sử dụng hoặc thực hành thương mại. Không giới hạn ở những điều đã nói ở trên, EzInsta không đưa ra bảo đảm hay cam kết nào và không đưa ra bất kỳ tuyên bố nào rằng Dịch vụ sẽ đáp ứng yêu cầu của Bạn, đạt được bất kỳ kết quả mong muốn nào, tương thích hoặc hoạt động với bất kỳ phần mềm, ứng dụng, hệ thống hoặc dịch vụ nào khác, hoạt động không bị gián đoạn, đáp ứng mọi tiêu chuẩn về hiệu suất hoặc độ tin cậy hoặc không có lỗi hoặc bất kỳ lỗi hoặc khiếm khuyết nào có thể hoặc sẽ được sửa chữa.</p>

      <h4>10. Chấm dứt Dịch vụ:</h4>
      <p>
        Chúng tôi có thể chấm dứt hoặc tạm ngưng việc sử dụng Tài khoản của bạn ngay lập tức mà không cần thông báo trước hoặc chịu trách nhiệm pháp lý vì bất kỳ lý do gì, bao gồm nhưng không giới hạn nếu Bạn vi phạm các Điều khoản và Điều kiện này.
      </p>
      
      <p>
        Sau khi chấm dứt dịch vụ, quyền sử dụng Dịch vụ của Bạn sẽ chấm dứt ngay lập tức. Nếu Bạn muốn dừng Tài khoản của mình, Bạn chỉ cần ngừng sử dụng Dịch vụ.
        </p>

      <h4>11. Khách hàng bị ràng buộc phải tuân theo thời hạn hợp đồng (đăng ký):</h4>
      <p>
        Các Điều khoản này vẫn có hiệu lực cho đến hết chu kỳ thanh toán của Khách hàng. Khách hàng không cần hủy đăng ký vì Chúng tôi không tự động gia hạn tài khoản của bạn khi tài khoản của bạn hết hạn.
      </p>
      
      <h4>12. Khách hàng đồng ý với giới hạn trách nhiệm pháp lý
      </h4>
      <p>EzInsta có thể không chịu trách nhiệm pháp lý đối với bất kỳ thiệt hại tiềm ẩn nào phát sinh. Trong mọi trường hợp, EzInsta sẽ không chịu bất kỳ trách nhiệm pháp lý nào đối với khách hàng về vấn đề lợi nhuận, doanh thu bị mất hoặc bất kỳ hình thức thiệt hại khác, cho dù trong hợp đồng hay trong bất kỳ trường hợp trách nhiệm pháp lý nào khác và bất kể Khách hàng có được thông báo về khả năng xảy ra những thiệt hại nói trên hay không. Khách hàng sẽ không có bất kỳ nghĩa vụ tài chính đối với EzInsta nếu vi phạm các Điều khoản này.
      </p>
<h4>13. Giải quyết tranh chấp</h4>
<p>
  Nếu Bạn có bất kỳ lo ngại hoặc tranh chấp nào về Dịch vụ, trước tiên Bạn đồng ý cố gắng giải quyết tranh chấp bằng cách liên hệ với EzInsta.
</p>
<h4>14. Thay đổi các Điều khoản và Điều kiện và thông tin Trang web</h4>
<p>
  Chúng tôi có toàn quyền tùy ý sửa đổi hoặc thay thế các Điều khoản này và nội dung của Trang web, bao gồm cả giá cả, bất cứ lúc nào.
</p>
<p>
  Bằng cách tiếp tục truy cập hoặc sử dụng Dịch vụ của chúng tôi sau khi những sửa đổi đó có hiệu lực, Bạn đồng ý bị ràng buộc bởi các Điều khoản sửa đổi. Nếu Bạn không đồng ý toàn bộ hoặc một phần với các điều khoản mới, vui lòng ngừng sử dụng Trang web và Dịch vụ.
</p>
<h4>15. Liên hệ chúng tôi</h4>
<p>
  Nếu Bạn có bất kỳ câu hỏi nào về các Điều khoản và Điều kiện này hoặc bất kỳ tính năng nào của Dịch vụ, Bạn có thể liên hệ với chúng tôi:
</p>
<p>
  - bằng cách truy cập trang này trên trang web của chúng tôi <a href="/">http://Ezinsta.com</a>
</p>
<p>
  - Qua Live Chat, Facebook, X và Skype.

</p>
     
    </div>

  </div>
</body>

</html>