<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ('../../partials/head') %>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <h3 class="termOfServiceTitle">Term of Services (ToS) AutoFace</h3>
      <p>In adherence to the principles of transparency and clarity, we, the AutoFace Development Team, hereby present
        our
        Terms of Service for the utilization of our Facebook Automation Software. By accessing or using our Software,
        you
        agree to be bound by the following terms and conditions outlined below. We have designed these terms to ensure a
        secure and harmonious experience for all users. Please carefully review the Terms of Service before proceeding
        with
        the use of our Facebook Automation Software. If you have any questions or concerns, feel free to contact us via
        our
        official Support Channel such as: Facebook, Telegram or Skype. Thank you for choosing AutoFace, and we
        appreciate
        your trust in our platform. </p>
      <p>AutoFace Terms of Service</p>
      <h4>1. Acceptance of Terms:</h4>
      <p>Users are required to explicitly agree to the terms of service prior to utilizing the Software AutoFace.</p>
      <h4>2. User Eligibility:</h4>
      <p>Any age or eligibility prerequisites for users are explicitly stated.</p>
      <h4>3. License and Usage:</h4>
      <p>After you register for an account, we will grant you permission to access and use your AutoFace account, with
        any
        restrictions regarding use of the Software, whether for personal or commercial purposes.</p>

      <h4>4. User Responsibilities:</h4>
      <p>Users must agree not to partake in any illegal activities or exploit the Software for malicious purposes.
        Compliance with pertinent laws and regulations is imperative.</p>

      <h4>5. Account Creation and Security:</h4>
      <p>Guidelines for creating user accounts and ensuring the security of login credentials are specified. Users are
        informed of their responsibility for activities conducted under their respective accounts.</p>

      <h4>6. Privacy Policy:</h4>
      <p>Information concerning the collection, storage, and utilization of user data is outlined. Additionally, any
        third-party services or analytics Softwares employed, along with their respective privacy practices, are
        disclosed.
      </p>

      <h4>7. Intellectual Property:</h4>
      <p>Ownership details regarding the AutoFace's intellectual property (e.g., trademarks, copyrights) are provided,
        alongside guidelines outlining acceptable usage of the Software's branding and content.</p>

      <h4>8. Termination of Service:</h4>
      <p>Conditions under which the provider reserves the right to terminate a user's access are delineated, alongside
        the
        process for discontinuing the service and its associated implications.</p>

      <h4>9. Limitation of Liability:</h4>
      <p>We offer users a free 7-day trial with 50 profiles so users can test and try the software. Therefore, we
        reserve
        the right to be exempted from liability for compensation for any loss or damage arising from the use of AutoFace
        software.</p>

      <h4>10. Updates and Modifications:</h4>
      <p>Information regarding how updates to the Software AutoFace or amendments to the terms of service will be
        communicated is provided. Users are required to accept updates as a condition of continued usage.</p>

      <h4>11. Governing Law and Dispute Resolution:</h4>
      <p>The jurisdiction under which the terms are governed is specified, along with procedures for resolving disputes,
        often through arbitration or legal processes.</p>

      <p>It is imperative for users to meticulously peruse and comprehend the terms of service before employing the
        Software
        AutoFace, to ensure compliance and mitigate any potential issues. Furthermore, users should remain vigilant
        regarding any updates to the terms, thus staying informed about any alterations.</p>
    </div>

  </div>

</body>

</html>