<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>
<style>
    body {
        background: linear-gradient(0deg, rgba(244, 245, 255, 1), rgba(254, 254, 255, 1));
    }

    .layout {
        max-width: 900px;
        margin: 0 auto;
        /* font-size: 15px; */
        padding-top: 30px;
        line-height: 1.8;

        .termOfService {
            padding: 6% 8%;

            .termOfServiceTitle {
                font-size: 18px;
                color: blue;

            }

        }

        p {
            text-align: justify;
        }

        ul {
            list-style: none;
        }
    }
</style>

<body>
    <div class="layout">
        <div class="termOfService">
            <h class="termOfServiceTitle">简体中文 (Simplified Chinese)</h>
            <p>AutoFace工具隐私政策</p>

            <p>最后更新日期：[日期]</p>

            <p>您的隐私对我们非常重要。AutoFace的政策是尊重您的隐私，关于我们可能从您在我们所有网站和我们拥有和运营的所有软件中收集的任何信息。我们的产品旨在使用运行服务所需的最少量数据，并收集分析以改进它们。</p>

            <p>如果您对此隐私政策有任何异议，请不要使用我们的服务，其中包括任何由AutoFace创建、拥有和运营的内容。</p>

            <h4>1. 收集的信息</h4>

            <p>在您使用软件时，我们可能收集以下类型的信息：</p>

            <ul>
                <li>1.1 帐户信息：<br> 为了使用软件，您可能需要向我们提供某些信息，如您的Facebook用户名、密码和其他相关帐户详细信息。</li>
                <li>1.2 使用信息：<br> 我们可能收集有关您与软件互动的信息，包括但不限于您执行的操作和您访问的内容。</li>
                <li>1.3 设备信息：<br> 我们可能收集有关您用于访问软件的设备的信息，如设备类型、操作系统和唯一设备标识符。</li>
            </ul>

            <p>2. 我们如何使用您的信息</p>

            <p>我们使用收集的信息用于以下目的：</p>

            <ul>
                <li>2.1 提供软件：<br> 用于验证您的帐户、提供软件的功能并确保无缝的用户体验。</li>
                <li>2.2 改进软件：<br> 分析使用模式，识别改进的领域，并增强软件的整体性能和功能。</li>
                <li>2.3 客户支持：<br> 回复您的咨询，提供客户支持并解决您在使用软件时可能遇到的任何问题。</li>
                <li>2.4 法律合规：<br> 遵守适用的法律、法规和法律程序。</li>
            </ul>

            <p>3. 信息共享</p>

            <p>我们不会出售、交易或以其他方式转让您的个人信息给第三方。但是，在以下情况下，我们可能与可信赖的第三方分享您的信息：</p>

            <ul>
                <li>3.1 服务提供商：<br> 我们可能聘请第三方服务提供商来协助我们提供软件，并且他们可能访问您的信息以达到此目的。</li>
                <li>3.2 法律要求：<br> 如果法律要求或对有效的法律请求作出回应，我们可能会披露您的信息。</li>
            </ul>

            <p>4. 安全性</p>

            <p>我们采取合理措施来保护您的个人信息，防止未经授权的访问、使用或披露。然而，互联网上传输的任何数据都不能保证完全安全，我们对由于客观原因或用户的主观原因导致的任何信息泄露不负责任。</p>

            <p>5. 您的选择</p>

            <p>您有权访问、更新或删除您的个人信息。您可以通过与我们的客户支持团队联系，通过AutoFace的官方支持渠道进行行使：Live
                Chat、Facebook、X、Telegram或Skype。请注意，删除您的帐户可能导致某些数据和功能的丧失。</p>

            <p>6. 隐私政策的更新</p>

            <p>我们可能会不时更新此隐私政策。请定期查看以了解任何更改。</p>

            <p>7. 联系信息</p>

            <p>如果您对此隐私政策有任何疑问或顾虑，请通过AutoFace的官方支持渠道联系我们的客户支持团队：Live Chat、Facebook、X、Telegram或Skype。</p>

            <p>感谢您的信任和使用我们的服务。</p>
        </div>

    </div>


    <!-- Script bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Script swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Script main -->
    <script src="/js/main.js"></script>
</body>

</html>