<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>
<style>
    .layout {
        max-width: 900px;
        margin: 0 auto;
        /* font-size: 15px; */
        padding-top: 30px;
        line-height: 1.8;

        .termOfService {
            padding: 6% 8%;

            .termOfServiceTitle {
                font-size: 18px;
                color: blue;

            }

        }

        p {
            text-align: justify;
        }

        ul {
            list-style: none;
        }
    }
</style>

<body>
    <div class="layout">
        <div class="termOfService">
            <h class="termOfServiceTitle">Privacy Policy for AutoFace Tool</h>

            <p>Last Updated: [Date]</p>

            <p>Your privacy is important to us. It is AutoFace's policy to respect your privacy regarding any
                information we may collect from you across all our websites and software we own and operate. Our
                products are designed to use the minimum amount of data required to run the service and collect
                analytics to improve them.</p>

            <p>If there’s any reason you don’t agree with this privacy policy, please don’t use our services, which
                include anything that AutoFace creates, owns, and operates.</p>

            <p>1. Information Collected</p>

            <p>We may collect the following types of information when you use Software:</p>

            <ul>
                <li>1.1 Account Information:<br> To use Software, you may be required to provide us with
                    certain information, such as your Facebook username, password, and other relevant account details.
                </li>
                <li>1.2 Usage Information:<br> We may collect information about your interactions with
                    Software, including but not limited to the actions you perform and the content you access.</li>
                <li>1.3 Device Information:<br> We may collect information about the device you use to access
                    Software, such as device type, operating system, and unique device identifiers.</li>
            </ul>

            <p>2. How We Use Your Information</p>

            <p>We use the information collected for the following purposes:</p>

            <ul>
                <li>2.1 Providing Software:<br> To authenticate your account, deliver Software's functionality,
                    and ensure a seamless user experience.</li>
                <li>2.2 Improving Software:<br> To analyze usage patterns, identify areas for improvement, and
                    enhance the overall performance and features of Software.</li>
                <li>2.3 Customer Support:<br> To respond to your inquiries, provide customer support, and
                    address any issues you may encounter while using Software.</li>
                <li>2.4 Legal Compliance:<br> To comply with applicable laws, regulations, and legal processes.
                </li>
            </ul>

            <p>3. Information Sharing</p>

            <p>We do not sell, trade, or otherwise transfer your personal information to third parties. However, we may
                share your information with trusted third parties in the following circumstances:</p>

            <ul>
                <li>3.1 Service Providers:<br> We may engage third-party service providers to assist us in
                    delivering Software, and they may have access to your information for that purpose.</li>
                <li>3.2 Legal Requirements:<br> We may disclose your information if required by law or in
                    response to a valid legal request.</li>
            </ul>

            <p>4. Security</p>

            <p>We take reasonable measures to protect your personal information from unauthorized access, use, or
                disclosure. However, no data transmission over the internet can be guaranteed to be completely secure.
                We declare no responsibility for any information leakage due to objective reasons or subjective reasons
                from the user.</p>

            <p>5. Your Choices</p>

            <p>You have the right to access, update, or delete your personal information. You can exercise these rights
                by contacting our customer support team via Autoface's official Support channels: Live Chat, Facebook,
                X, Telegram, or Skype. Please note that deleting your account may result in the loss of certain data and
                features.</p>

            <p>6. Updates to the Privacy Policy</p>

            <p>We may update this Privacy Policy from time to time. Please review it periodically to stay informed of
                any changes.</p>

            <p>7. Contact Information</p>

            <p>If you have any questions or concerns about this Privacy Policy, please contact our customer support team
                via Autoface's official Support channels: Live Chat, Facebook, X, Telegram, or Skype.</p>

            <p>Thank you for trusting and using our services.</p>
        </div>

    </div>


    <!-- Script bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Script swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Script main -->
    <script src="/js/main.js"></script>
</body>

</html>