<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>
<style>
    body {
        background: linear-gradient(0deg, rgba(244, 245, 255, 1), rgba(254, 254, 255, 1));
    }

    .layout {
        max-width: 900px;
        margin: 0 auto;
        /* font-size: 15px; */
        padding-top: 30px;
        line-height: 1.8;

        .termOfService {
            padding: 6% 8%;
            background: #fff;

            .termOfServiceTitle {
                font-size: 18px;
                color: blue;

            }

        }

        p {
            text-align: justify;
        }

        ul {
            list-style: none;
        }
    }
</style>

<body>
    <div class="layout">
        <div class="termOfService">
            <h class="termOfServiceTitle">繁體中文 (Traditional Chinese)</h>
            <p>AutoFace工具隱私政策</p>

            <p>最後更新日期：[日期]</p>

            <p>您的隱私對我們非常重要。AutoFace的政策是尊重您的隱私，關於我們可能從您在我們所有網站和我們擁有和運營的所有軟件中收集的任何信息。我們的產品旨在使用運行服務所需的最少量數據，並收集分析以改進它們。</p>

            <p>如果您對此隱私政策有任何異議，請不要使用我們的服務，其中包括任何由AutoFace創建、擁有和運營的內容。</p>

            <p>1. 收集的信息</p>

            <p>在您使用軟件時，我們可能收集以下類型的信息：</p>

            <ul>
                <li>1.1 帳戶信息：<br> 為了使用軟件，您可能需要向我們提供某些信息，如您的Facebook用戶名、密碼和其他相關帳戶詳細信息。</li>
                <li>1.2 使用信息：<br> 我們可能收集關於您與軟件互動的信息，包括但不限於您執行的操作和您訪問的內容。</li>
                <li>1.3 設備信息：<br> 我們可能收集有關您用於訪問軟件的設備的信息，如設備類型、操作系統和唯一設備標識符。</li>
            </ul>

            <p>2. 我們如何使用您的信息</p>

            <p>我們使用收集的信息用於以下目的：</p>

            <ul>
                <li>2.1 提供軟件：<br> 用於驗證您的帳戶、提供軟件的功能並確保無縫的用戶體驗。</li>
                <li>2.2 改進軟件：<br> 分析使用模式，識別改進的領域，並增強軟件的整體性能和功能。</li>
                <li>2.3 客戶支持：<br> 回應您的詢問，提供客戶支持並解決您在使用軟件時可能遇到的任何問題。</li>
                <li>2.4 法律合規：<br> 遵守適用的法律、法規和法律程序。</li>
            </ul>

            <p>3. 信息共享</p>

            <p>我們不會出售、交易或以其他方式轉移您的個人信息給第三方。但是，在以下情況下，我們可能與可信賴的第三方分享您的信息：</p>

            <ul>
                <li>3.1 服務提供商：<br> 我們可能聘請第三方服務提供商來協助我們提供軟件，並且他們可能訪問您的信息以達到此目的。</li>
                <li>3.2 法律要求：<br> 如果法律要求或對有效的法律請求作出回應，我們可能會披露您的信息。</li>
            </ul>

            <p>4. 安全性</p>

            <p>我們采取合理措施來保護您的個人信息，防止未經授權的訪問、使用或披露。然而，互聯網上傳輸的任何數據都不能保證完全安全。我們對由於客觀原因或用戶的主觀原因導致的任何信息洩露不負責任。</p>

            <p>5. 您的選擇</p>

            <p>您有權訪問、更新或刪除您的個人信息。您可以通過與我們的客戶支持團隊聯繫，通過AutoFace的官方支持渠道進行行使：Live
                Chat、Facebook、X、Telegram或Skype。請注意，刪除您的帳戶可能導致某些數據和功能的丟失。</p>

            <p>6. 隱私政策的更新</p>

            <p>我們可能會不時更新此隱私政策。請定期查看以了解任何更改。</p>

            <p>7. 聯絡信息</p>

            <p>如果您對此隱私政策有任何問題或擔憂，請通過AutoFace的官方支持渠道聯繫我們的客戶支持團隊：Live Chat、Facebook、X、Telegram或Skype。</p>

            <p>感謝您的信任和使用我們的服務。</p>
        </div>

    </div>


    <!-- Script bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Script swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Script main -->
    <script src="/js/main.js"></script>
</body>

</html>