<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../../partials/head') %>
</head>


<body>
    <div class="wrapper">
        <div class="container">
            <h class="termOfServiceTitle">Chính Sách Quyền Riêng Tư AutoFace</h>

            <p>Lần cập nhật cuối: 29/02/2024</p>

            <p>Quyền riêng tư của bạn rất quan trọng với chúng tôi. Chính sách của AutoFace là tôn trọng quyền riêng tư
                của bạn về bất kỳ thông tin nào chúng tôi có thể thu thập từ bạn trên tất cả các trang web và phần mềm
                mà chúng tôi sở hữu và vận hành. Sản phẩm của chúng tôi được thiết kế để sử dụng lượng dữ liệu tối thiểu
                cần thiết để chạy dịch vụ và thu thập số liệu phân tích để cải thiện chúng.</p>

            <p>Nếu có bất kỳ lý do nào khiến bạn không đồng ý với chính sách quyền riêng tư này, vui lòng không sử dụng
                các dịch vụ của chúng tôi, bao gồm mọi dịch vụ mà AutoFace tạo ra, sở hữu và vận hành.</p>

            <h4>1. Thông Tin Được Thu Thập</h4>

            <p>Chúng tôi có thể thu thập các loại thông tin sau khi bạn sử dụng Phần mềm:</p>

            <ul>
                <li>1.1 Thông Tin Tài Khoản:<br> Để sử dụng Phần mềm, bạn có thể cần cung cấp chúng tôi một số thông
                    tin,
                    như tên người dùng Facebook, mật khẩu và các chi tiết tài khoản khác.</li>
                <li>1.2 Thông Tin Sử Dụng:<br> Chúng tôi có thể thu thập thông tin về cách bạn tương tác với Phần mềm,
                    bao
                    gồm các hành động bạn thực hiện và nội dung bạn truy cập.</li>
                <li>1.3 Thông Tin Thiết Bị:<br> Chúng tôi có thể thu thập thông tin về thiết bị bạn sử dụng để truy cập
                    Phần
                    mềm, như loại thiết bị, hệ điều hành và các định danh duy nhất của thiết bị.</li>
            </ul>

            <h4>2. Cách Chúng Tôi Sử Dụng Thông Tin Của Bạn</h4>

            <p>Chúng tôi sử dụng thông tin đã thu thập cho các mục đích sau:</p>

            <ul>
                <li>2.1 Cung Cấp Phần mềm:<br> Để xác thực tài khoản của bạn, cung cấp chức năng của Phần mềm và đảm bảo
                    trải nghiệm người dùng mượt mà.</li>
                <li>2.2 Cải Thiện Phần mềm:<br> Để phân tích mô hình sử dụng, xác định các lĩnh vực cần cải thiện và
                    nâng
                    cao hiệu suất và tính năng tổng thể của Phần mềm.</li>
                <li>2.3 Hỗ Trợ Khách Hàng:<br> Để phản hồi vào các yêu cầu của bạn, cung cấp hỗ trợ khách hàng và giải
                    quyết
                    bất kỳ vấn đề nào bạn có thể gặp khi sử dụng Phần mềm.</li>
                <li>2.4 Tuân Thủ Pháp Luật:<br> Để tuân thủ các luật lệ, quy định và quy trình pháp lý áp dụng.</li>
            </ul>

            <h4>3. Chia Sẻ Thông Tin</h4>

            <p>Chúng tôi không bán, trao đổi hoặc chuyển giao thông tin cá nhân của bạn cho bên thứ ba. Tuy nhiên, chúng
                tôi có thể chia sẻ thông tin của bạn với các bên thứ ba đáng tin cậy trong các trường hợp sau:</p>

            <ul>
                <li>3.1 Nhà Cung Cấp Dịch Vụ:<br> Chúng tôi có thể hợp tác với các nhà cung cấp dịch vụ bên thứ ba để hỗ
                    trợ
                    chúng tôi trong việc cung cấp Phần mềm, và họ có thể có quyền truy cập thông tin của bạn cho mục
                    đích đó.</li>
                <li>3.2 Yêu Cầu Pháp Lý:<br> Chúng tôi có thể tiết lộ thông tin của bạn nếu có yêu cầu pháp lý hoặc theo
                    đáp
                    ứng một yêu cầu pháp lý hợp lệ.</li>
            </ul>

            <h4>4. Bảo Mật</h4>

            <p>Chúng tôi thực hiện các biện pháp hợp lý để bảo vệ thông tin cá nhân của bạn khỏi truy cập, sử dụng hoặc
                tiết lộ trái phép. Tuy nhiên, không có phương tiện truyền dữ liệu qua Internet nào có thể đảm bảo an
                toàn tuyệt đối. Chúng tôi tuyên bố miễn trừ trách nhiệm đối với bất kỳ trường hợp rò rỉ thông tin nào vì
                lý do khách quan hoặc chủ quan từ phía người dùng.</p>

            <h4>5. Quyền Lựa Chọn Của Bạn</h4>

            <p>Bạn có quyền truy cập, cập nhật hoặc xóa thông tin cá nhân của mình. Bạn có thể thực hiện những quyền này
                bằng cách liên hệ với chúng tôi qua các kênh Support chính thức của Autoface: Live chat, Facebook, X,
                Telegram, và Skype. Lưu ý rằng việc xóa tài khoản có thể dẫn đến mất mát một số dữ liệu và tính năng.
            </p>

            <h4>6. Cập Nhật Chính Sách Bảo Mật</h4>

            <p>Chúng tôi có thể cập nhật Chính Sách Bảo Mật này định kỳ. Vui lòng kiểm tra định kỳ để cập nhật thông
                tin.</p>

            <h4>7. Thông Tin Liên Hệ</h4>

            <p>Nếu bạn có bất kỳ câu hỏi hoặc lo ngại nào về Chính Sách Bảo Mật này, vui lòng liên hệ chúng tôi qua các
                kênh Support chính thức của Autoface: Live Chat, Facebook, X, Telegram, Skype.</p>

            <p>Cảm ơn bạn vì đã tin tưởng và sử dụng dịch vụ của chúng tôi.</p>
        </div>

    </div>


    <!-- Script bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Script swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!-- Script main -->
    <script src="/js/main.js"></script>
</body>

</html>